body {
    background-color: rgb(235, 134, 19);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
}

h1 {
    text-align: right;
    font-size: 300px;
    font-weight: 100;
    padding-right: 15px;
    border: 2px solid rgb(0, 0, 0);
    float: right;
    margin: 0 10px;
}

img {
    border: 2px solid black;
    margin: 0 10px;
}

.order {
    text-align: right;
    border: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    max-width: 800px;
    margin 0;
    padding-left: 280px;
    
}

.content-description,
.content-ingredient,
.content-steps {
    border: 2px solid black;
    padding: 5px;
}

.title {
    font-size: 20px;
}

.content-description {
    margin-top: -32px;
}

.toppings {
    padding-left: 50px;
    list-style-type: square;
}

.content-ingredient,
.content-steps,
.content-description {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 40px;
    margin-bottom: 10px;
}

.ingredients {
    background-color: ;
    list-style-type: none;
    padding-left: 30px; 
}

li {
    margin: 4px -6px;
}

.steps {
    margin-left: -15px;
}

a:visited,
a:link {
    color: rgb(0, 0, 0);
    font-size: 28px;
    list-style-type: none;
    padding-top: 5px;
    display: inline-block;
}

em {
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 5, 0);
    padding: .5%;
}