* {
    background-color: rgb(235, 134, 19);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
}

h1 {
    text-align: right;
    font-size: 300px;
    padding-bottom: 0%;
    padding-right: 15px;
    border: 2px solid rgb(0, 0, 0);
    float: right;
}

img {
    padding-left: 0px;
    border: 2px solid black;
    overflow: auto;
}

h3 {
    text-align: right;
}

.steps {
    text-align: right;
}

ul {
    text-align: right;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol {
    text-align: left;
}

a:visited {
    color: rgb(0, 0, 0);
    font-size: 28px;
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

em {
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 5, 0);
    padding: .5%;
}

.toppings {
    text-align: right;
}

.order {
    text-align: right;
    padding-right: 30px;
    padding-bottom: 20px;
    border: 0;
    margin-top: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p {
    text-align: right;
}

p,
h3,
ul,
ol {
    border: 2px solid black;
    border-style: dotted;
}

.ingredients,
.steps {
    text-align: left;
}

.title {
    border: 0;
}